services:
  agent:
    build:
      context: .
    working_dir: ${WORKSPACE_PATH}
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./${LOCAL_WORKDIR}:${WORKSPACE_PATH}
